@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 10% 96%;
    --foreground: 222 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 222 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 10% 3.9%;
    --primary: 142 76% 36%;
    --primary-foreground: 0 0% 100%;
    --secondary: 222 4.8% 95.9%;
    --secondary-foreground: 222 5.9% 10%;
    --muted: 222 4.8% 95.9%;
    --muted-foreground: 222 3.8% 46.1%;
    --accent: 204 80% 92%;
    --accent-foreground: 222 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 5.9% 90%;
    --input: 222 5.9% 90%;
    --ring: 142 76% 36%;
    --radius: 0.5rem;
    --chart-1: 142 76% 36%;
    --chart-2: 45 100% 50%;
    --chart-3: 160 60% 45%;
    --chart-4: 0 84% 60%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 222 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 222 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 142 76% 36%;
    --primary-foreground: 0 0% 100%;
    --secondary: 222 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 222 3.7% 15.9%;
    --muted-foreground: 222 5% 64.9%;
    --accent: 222 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 3.7% 15.9%;
    --input: 222 3.7% 15.9%;
    --ring: 142 76% 36%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'PT Sans', sans-serif;
  }
}
